header, footer {
    background-color: dimgray;
}

.logo {
    width: 120px;
}

.nav-link, footer {
    color: silver;
}

.name-company p {
    color: lightgoldenrodyellow;
}

main {
    background-color: sandybrown;
}

.routes-list, .guides-list, .dignity {
    border: gainsboro 5px solid;
    border-radius: 15px;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-secondary);
}

.dropdown {
    height: 100px;
}

.modal-content {
    background-color:gray;
}

.alerts {
    position: sticky;
    top: 0;
    text-align: center;
}

textarea {
    resize: none;
}